:root {
    --background-color: rgb(255, 255, 255);
    --border-color: rgb(192, 192, 192);
    --text-color: rgb(64, 0, 0);
}

body {
    background-color: var(--background-color);
}

.header {
    border-bottom: thin solid var(--border-color);
}

.header-title {
    text-align: center;
    margin: 4px;
    padding: 4px;
    color: var(--text-color);
}

.header-nav ul {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
}

.header-nav ul li {
    list-style: none;
    padding: 8px;
    color: var(--text-color);
}